<div class="tab-order d-flex justify-content-end align-items-center my-2">
  <div class="tab-items d-flex align-items-center">
    <i class="fa-solid fa-filter"></i>
    <ul class="nav nav-pills ms-3">
      <li class="nav-item me-2">
        <a params[:tab] = "all" class="nav-link <%= params[:tab] == 'all' ? 'active' : '' %>"
        aria-current="<%= params[:tab] == 'all' ? 'page' : '' %>" href="<%= orders_path %>">All</a>
      </li>
      <li class="nav-item me-2">
        <a params[:tab] = "this_week" class="nav-link <%= params[:tab] == "this_week" ? 'active' : '' %>"
        aria-current="<%= params[:tab] == 'this_week' ? 'page' : '' %>" href="<%= orders_path(tab: 'this_week') %>">This week</a>
      </li>
      <li class="nav-item me-2">
        <a params[:tab] = "this_month" class="nav-link <%= params[:tab] == "this_month" ? 'active' : '' %>"
        aria-current="<%= params[:tab] == 'this_month' ? 'page' : '' %>" href="<%= orders_path(tab: 'this_month') %>">This month</a>
      </li>
      <li class="nav-item me-2">
        <a params[:tab] = "last_three_months" class="nav-link <%= params[:tab] == "last_three_months" ? 'active' : '' %>"
        aria-current="<%= params[:tab] == 'last_three_months' ? 'page' : '' %>" href="<%= orders_path(tab: 'last_three_months') %>">Last 3 months</a>
      </li>
      <li class="nav-item me-2">
        <a params[:tab] = "last_year" class="nav-link <%= params[:tab] == "last_year" ? 'active' : '' %>"
        aria-current="<%= params[:tab] == 'last_year' ? 'page' : '' %>" href="<%= orders_path(tab: 'last_year') %>">Last year</a>
      </li>
      <li class="nav-item me-2">
        <a params[:tab] = "paid" class="nav-link <%= params[:tab] == "paid" ? 'active' : '' %>"
        href="<%= orders_path(tab: 'paid') %>" aria-current="<%= params[:tab] == 'paid' ? 'page' : '' %>">Paid</a>
      </li>
      <li class="nav-item me-2">
        <a params[:tab] = "pending" class="nav-link <%= params[:tab] == "pending" ? 'active' : '' %>"
        href="<%= orders_path(tab: 'pending') %>" aria-current="<%= params[:tab] == 'pending' ? 'page' : '' %>">Pending</a>
      </li>
    </ul>
  </div>
</div>

<h5><%= @orders_total.count %> orders</h5>

<% @orders.each do |order| %>
  <div class="row justify-content-center my-2">
    <div class="col-10">
    <%= link_to order_path(order), class:"text-decoration-none" do  %>
      <div class="card-order">
        <%= image_tag order.products.first.images.first %>
        <div class="card-order-infos">
          <h2>#<%= order.id %></h2>
          <p><%= order.products.pluck(:name).uniq.join(", ") %></p>
          <p><small><%= order.created_at.strftime("%a %d %B %Y") %></small></p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
<% end %>

<%= paginate @orders, window: 2 %>
