<div class="tab-order d-flex justify-content-end align-items-center my-2">
  <div class="tab-items d-flex align-items-center">
    <i class="fa-solid fa-filter"></i>
    <ul class="nav nav-pills ms-3">
      <li class="nav-item me-2">
        <a params[:tab] = "all" class="nav-link <%= params[:tab] == 'all' ? 'active' : '' %>"
        aria-current="<%= params[:tab] == 'all' ? 'page' : '' %>" href="<%= orders_path %>">All</a>
      </li>
      <li class="nav-item me-2">
        <a params[:tab] = "this_week" class="nav-link <%= params[:tab] == "this_week" ? 'active' : '' %>"
         aria-current="<%= params[:tab] == 'this_week' ? 'page' : '' %>" href="<%= orders_path(tab: 'this_week') %>">This week</a>
      </li>
      <li class="nav-item me-2">
        <a class="nav-link" href="#">This month</a>
      </li>
      <li class="nav-item me-2">
        <a class="nav-link" href="#">Last 3 months</a>
      </li>
      <li class="nav-item me-2">
        <a class="nav-link" href="#">Last year</a>
      </li>
      <li class="nav-item me-2">
        <a params[:tab] = "paid" class="nav-link <%= params[:tab] == "paid" ? 'active' : '' %>"
        href="<%= orders_path(tab: 'paid') %>" aria-current="<%= params[:tab] == 'paid' ? 'page' : '' %>">Paid</a>
      </li>
      <li class="nav-item me-2">
        <a params[:tab] = "pending" class="nav-link <%= params[:tab] == "pending" ? 'active' : '' %>"
        href="<%= orders_path(tab: 'pending') %>" aria-current="<%= params[:tab] == 'pending' ? 'page' : '' %>">Pending</a>
      </li>
    </ul>
  </div>
</div>

<h5><%= @orders_total.count %> orders</h5>

<% @orders.each do |order| %>
  <div class="row justify-content-center my-2">
    <div class="col-10">
      <div class="card-order">
        <%= image_tag order.products.first.images.first %>
        <div class="card-order-infos">
          <h2><%= link_to order.id, order_path(order) %></h2>
          <p><%= order.products.pluck(:name).uniq.join(", ") %></p>
          <p><small><%= order.created_at.strftime("%a %d %B %Y") %></small></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= paginate @orders, window: 2 %>
