<div class="container-md p-5">
  <%= simple_form_for([:admins, @admins_product]) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="row">
    <div class="col-md-5">
      <%= f.input :name %>
    </div>
    <div class="col-md-5">
      <%= f.association :category%>
    </div>
    <div class="col-md-2 pt-5 ">
      <%= f.input :active, wrapper_html: {class: "text-center"} %>
    </div>
    <div class="col-12">
      <%= f.input :description %>
    </div>
    <div class="d-flex justify-content-between">
      <%= f.simple_fields_for :product_prices do |ff|  %>
        <div class="col-md-3">
        <%= ff.input :size, input_html: {readonly: :true} %>
        <%= ff.input :price %>
        </div>
      <% end %>
    </div>
    <% if @admins_product.images.any? %>
      <%= f.label "Existing photos" %>
      <div class="col-md-6 ms-0 d-flex">
      <% @admins_product.images.each do |image| %>
      <div class="me-4 py-2 image-thumbnail" data-controller="remove-image" data-remove-image-image-id-value="<%= image.id %>" >
        <%= button_tag class:"btn btn-lg btn-outline-primary position-relative", data: { action: "remove-image#remove" } do %>
        <%= image_tag(image.variant(:thumb)) %>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">x</span>
        <% end %>
      </div>
      <% end %>
      </div>
    <% end %>
    <div class="col-md-6 mb-3">
      <%= f.file_field :images, multiple: true %>
    </div>
    <div class="col-md-6">
      <%= link_to "Product stock", admins_product_stocks_path(@admins_product) if @admins_product.persisted?  %>
    </div>
    <div class="col-md-12 align-self-end">
      <%= f.button :submit, class:"btn btn-primary" %>
    </div>
  <% end %>
  </div>
</div>
