<div class="row align-items-center">
  <%= render @admins_product %>

  <div class="col-3 text-center">
    <%= link_to "See product stock", admins_product_stocks_path(@admins_product), class:"my-2 btn btn-info" %>
    <%= link_to "Edit this product", edit_admins_product_path(@admins_product), class:"btn btn-primary" %>
    <%= link_to "Back to products", admins_products_path , class:"my-2 btn btn-secondary" %>
    <%= link_to "Destroy this product", [:admins, @admins_product], method: :delete , class:"btn btn-danger"%>
  </div>
</div>
