<div id="<%= dom_id order %>">
  <div class="row">
    <div class="col-6">
      <p>
        <strong>Customer email:</strong>
        <%= order.customer_email %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= order.address %>
      </p>

      <p>
        <strong>Total:</strong>
        <%= order.total %>
      </p>

      <p>
        <strong>Fulfilled:</strong>
        <%= order.fulfilled %>
      </p>
    </div>

    <div class="col-6 text-center align-self-center">
      <%= button_to(order.fulfilled? ? "Unfulfill ?" : "Mark as fulfilled",
          admins_order_path(order),
          params: {order: {fulfilled: order.fulfilled? ? "0" : "1"}},
          method: :patch,
          class: "btn btn-lg btn-#{(order.fulfilled? ? "danger" : "primary")}")
      %>
    </div>
  </div>


  <% if order.order_products.any?  %>
    <strong>Products:</strong>
    <div class="table responsive">
      <table class="table align-middle table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Size</th>
            <th scope="col">Qty</th>
          </tr>
        </thead>
        <tbody>
          <%  order.order_products.each do |op| %>
          <tr>
            <th scope="row">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault"><%= op.product.name %></label>
              </div>
            </th>
            <td><%= op.size %></td>
            <td><%= op.quantity %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
