<div class="d-flex justify-content-between">
  <h1>Orders</h1>
  <%= link_to "New order", new_admins_order_path, class:"btn btn-primary" %>
</div>

<h3 class="text-center">Unfulfilled orders</h3>
<div class="table responsive">
  <table class="table align-middle table-striped">
    <thead>
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Customer email</th>
        <th scope="col">Address</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <% @unfulfilled_orders.each do |order| %>
      <tr>
        <th scope="row"><%= link_to order.id, admins_order_path(order) %></th>
        <td><%= order.customer_email%></td>
        <td><%= order.address  %></td>
        <td><%= order.total%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<hr>
<h3 class="text-center">Fulfilled orders</h3>
<div class="table responsive">
  <table class="table table-success align-middle table-striped">
    <thead>
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Customer email</th>
        <th scope="col">Address</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <% @fulfilled_orders.each do |order| %>
      <tr>
        <th scope="row"><%= link_to order.id, admins_order_path(order) %></th>
        <td><%= order.customer_email%></td>
        <td><%= order.address  %></td>
        <td><%= order.total%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
